<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- ruby code <%#= render 'layouts/header' %> This code
allow us to put different logic in separated file's, for example
the logic for header and footer navbar's-->

<!-- IMPORTANT! the file/'s we are rendering, must beging with _ 
for example: _header.html.erb-->

<!-- <%#= render 'layouts'/footer  %> -->

<!-- Adding links would be like <a href="/pages/home">Home</a>, but that is not
the Rails Way. Rails conventionally uses named routes wich involves code like this:
<%#=  link_to "Home", home_path %> This way the code is more transparent and is more
flexible, since we can change the definition of "home_path" and have the URL change
everywhere "home_path" is used. -->
<%= yield %>

</body>
</html>
