<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
<!-- ruby code <%#= render 'layouts/header' %> This code
allow us to put different logic in separated file's, for example
the logic for header and footer navbar's-->

<!-- IMPORTANT! the file/'s we are rendering, must beging with _ 
for example: _header.html.erb-->

<!-- <%#= render 'layouts'/footer  %> -->

<!-- Adding links would be like <a href="/pages/about">About</a>, but that is not
the Rails Way. Rails conventionally uses named routes wich involves code like this:
<%#=  link_to "About", about_path %> This way the code is more transparent and is more
flexible, since we can change the definition of "home_path" and have the URL change
everywhere "home_path" is used. To begin, we must change the code in routes.rb file
transforming lines like " get '/something' => 'pages#something' " to 
" get 'something' => 'pages#something' " 

This code:<%#= link_to "Home",  root_path %> will link to the action "home" to the
root_path, this one:<%#= link_to "About", about_path  %> will link to about_path-->
<%= render 'layouts/header' %>
<div class="container">
<% flash.each do |message_type, message| %>
<div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %> <!-- This code is for making posible the flash method -->
<%= yield %>
<%= render 'layouts/footer' %>
</div>
</body>
</html>
